* {

  font-family: 'Roboto', sans-serif;
  }
a{
text-decoration:none;
}

#center{
color:red;
}
#sidebar {
float: bottom;
}

#navbar{

background-color:rgba(0,0,0,.5);
text-align:center;
padding-top:20px;
padding-bottom:20px;
padding-left:0;
padding-right:20px;
position:fixed;
width:100%;
border-style: none;

}
nav li{

display: inline;float:top;
}
#mbusiness{
column-count:3;
}
nav a{
padding-left:50px;
padding-right:50px;
padding-bottom:15px;
}
    nav a:hover{
    border-bottom-style:solid;
    border-bottom-color:red;
    }
	
#marquee {
background-color: gray;
float:left;
}	

#marquee>h1, #marquee>aside{
color:#000000;
}

h1{

}
#sidemenu{
clear: right;
float:right;
}
#sidebar li{
list-style:none;
text-align:right;
padding-right:15px;
padding-bottom: 5px;
padding-top: 5px;
color:darkgrey;

}

	ul li a{
	color:darkgrey;
	
	}
   ul li:hover {
        padding-right: 10px;
        border-right-width: 5px;
        border-right-style:solid;
        border-right-color:red;
        color:white;
}
/*     ul li:focus{
        padding-right: 10px;
        border-right-width: 5px;
        border-right-style:solid;
        border-right-color:red;
        color:white;
    } */







