*{
  font-family: 'Roboto', sans-serif;
}
a{
	text-decoration:none;
}
#news{
     -moz-column-count: 3;
     -moz-column-gap: 20px;
	 -moz-column-width: 250px;
     -webkit-column-count: 3;
     -webkit-column-gap: 20px;
	 -webkit-column-width: 250px;
	 -ms-column-count: 3;
	 -ms-column-gap: 20px;
	 -moz-column-width: 250px;
	 column-count: 3;
	 column-width: 250px;
     column-gap: 20px;
	 float:left;
	 margin-left:25px;
	 margin-right:300px;
	 margin-top:100px;

}
.articleImage{

width: 100%;
height: 100%;

}
#navbar li #center{
	color:red;
}
.smallTitle{
	
	border-top-style:solid;
	border-top-width:5px;
	border-top-color:red;
}
video{
border-style:solid;
}
#navbar{
	background-color:rgba(0,0,0,.5);
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0;
	padding-right:20px;
	position:fixed;
	width:100%;
	border-style: none;
	margin-top:10px;
}
	#navbar li{
		display:inline;
	}
		#navbar li a{
			padding-left:50px;
			padding-right:50px;
			padding-bottom:15px;
			color:white;
		}
		
			#navbar li a:hover{
				border-bottom-style:solid;
				border-bottom-width:5px;
				border-bottom-color:red;
			}

#titleDiv{
	background-image: url("http://goo.gl/Vz7wPq");
	background-repeat:no-repeat;
	background-size: 1500px auto;
	
	width: 100%;
	margin-left:25px;
	padding-bottom:200px;
	padding-top:300px;
	float:left;
	margin-right:300px;
}

#titleDiv .title{
margin-left:50px;
}
#titleDiv .smallTitle{
margin-left:50px;
}
.title{
	font-size:4em;
}
.smallTitle{
		font-size:1em;
		width: 375px;
		padding-top: 20px;
		font-weight:bold;
}
#scrollImage{
	display:block;
	margin-left:50%;
	margin-right:50%;
	bottom:10px;
}
#sidemenu{
	background-color:rgba(0,0,0,.5);
	margin-top:200px;
	position:fixed;
	float:right;
	right: 15px;
	width: 250px;
	height: 275px;
}
	#sidebar li{
			margin-top:0px;
			list-style:none;
			text-align:right;
			padding-right:15px;
			padding-bottom: 5px;
			padding-top: 5px;
			color:rgba(179,221,242,1);

			cursor:pointer;
		}
		#sidebar li:hover{
				visibility:visible !important;
				color:red !important;
		}
		
		#sidebar li:hover span{
				visibility:visible !important;
				color:red !important;
				font-weight:bolder !important;
				font-size:100% !important;
		}
		li span{
			visibility:hidden;
			}
			
.marquee{
display:none;
}



@media screen and (max-device-width: 480px) and (orientation: portrait){
*{
  font-family: 'Roboto', sans-serif;
}
a{
	text-decoration:none;
}
#news{
     -moz-column-count: 1;
     -moz-column-gap: 20px;
	 -moz-column-width:  auto;
     -webkit-column-count: 1;
     -webkit-column-gap: 20px;
	 -webkit-column-width:  auto;
	 -ms-column-count: 1;
	 -ms-column-gap: 20px;
	 -moz-column-width:  auto;
	 column-count: 1;
	 column-width: auto;
     column-gap: 20px;
	 margin-top:300px;

}
.articleImage{

width: 100%;
height: auto;

}
#navbar li #center{
	color:red;
}

video{
border-style:solid;
}
#navbar{
	background-color:rgba(0,0,0,.5);
	text-align:right;


	padding-left:0;
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
	border-style: none;

}
	#navbar li{
		display:block;
		margin-right: 25px;
		padding-bottom: 5px;
		padding-top:5px;
	}
		#navbar li a{
			padding-bottom:5px;
			color:white;
		}
		
			#navbar li a:hover{
				border-bottom-style:solid;
				border-bottom-width:5px;
				border-bottom-color:red;
			}

#scrollImage{
display:none;
}
#sidemenu{
display:none;
}
			
#marquee{
display:none;
}
.title{
display:block;
margin-top:50px;
margin-left: 50px;

}

}




